In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
plt.rc('axes', unicode_minus = False)

In [4]:
df = pd.read_csv('./data/IRIS.csv')

In [5]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [6]:
df['species'].value_counts()

Iris-virginica     50
Iris-versicolor    50
Iris-setosa        50
Name: species, dtype: int64

In [7]:
df['id'] = range(len(df))

In [8]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species  id
0           5.1          3.5           1.4          0.2  Iris-setosa   0
1           4.9          3.0           1.4          0.2  Iris-setosa   1
2           4.7          3.2           1.3          0.2  Iris-setosa   2
3           4.6          3.1           1.5          0.2  Iris-setosa   3
4           5.0          3.6           1.4          0.2  Iris-setosa   4

In [10]:
df = df[['id','sepal_length','sepal_width','petal_length','petal_width','species']]

In [11]:
df.head()

   id  sepal_length  sepal_width  petal_length  petal_width      species
0   0           5.1          3.5           1.4          0.2  Iris-setosa
1   1           4.9          3.0           1.4          0.2  Iris-setosa
2   2           4.7          3.2           1.3          0.2  Iris-setosa
3   3           4.6          3.1           1.5          0.2  Iris-setosa
4   4           5.0          3.6           1.4          0.2  Iris-setosa

In [12]:
train = df.sample(100, replace = False, random_state = 42)

In [16]:
train = train.reset_index().drop('index', axis = 1)

In [19]:
test = df.loc[~df['id'].isin(train['id'])]

In [21]:
test = test.reset_index().drop('index', axis = 1)

In [23]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            50 non-null     int64
 1   sepal_length  50 non-null     float64
 2   sepal_width   50 non-null     float64
 3   petal_length  50 non-null     float64
 4   petal_width   50 non-null     float64
 5   species       50 non-null     object
dtypes: float64(4), int64(1), object(1)
memory usage: 2.5+ KB

In [24]:
from sklearn.neighbors import KNeighborsClassifier
KNeighborsClassifier

sklearn.neighbors._classification.KNeighborsClassifier

In [25]:
model = KNeighborsClassifier(n_neighbors= 3)

In [28]:
model.fit(train[['sepal_length','sepal_width','petal_length','petal_width']], train['species'])

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [32]:
pred = model.predict(test[['sepal_length','sepal_width','petal_length','petal_width']])

In [37]:
test['pred'] = pred

In [38]:
test.head()

,id,sepal_length,sepal_width,petal_length,petal_width,species,perd,pred
0,1,4.9,3.0,1.4,0.2,Iris-setosa,Iris-setosa,Iris-setosa
1,2,4.7,3.2,1.3,0.2,Iris-setosa,Iris-setosa,Iris-setosa
2,3,4.6,3.1,1.5,0.2,Iris-setosa,Iris-setosa,Iris-setosa
3,6,4.6,3.4,1.4,0.3,Iris-setosa,Iris-setosa,Iris-setosa
4,14,5.8,4.0,1.2,0.2,Iris-setosa,Iris-setosa,Iris-setosa

In [40]:
(test['species'] == test['pred']).mean()

0.96

In [45]:
for k in range(1, 30):

    model = KNeighborsClassifier(n_neighbors = k)

    model.fit(train[['sepal_length','sepal_width','petal_length','petal_width']], train['species'])

    pred = model.predict(test[['sepal_length','sepal_width','petal_length','petal_width']])

    test['pred'] = pred

    print((test['species'] == test['pred']).mean())

0.96
0.96
0.96
0.96
0.96
0.96
0.96
0.98
0.96
0.96
0.96
0.96
0.96
0.96
0.94
0.96
0.94
0.94
0.94
0.94
0.94
0.94
0.96
0.96
0.96
0.96
0.94
0.94
0.94