In [1]:
import requests
from bs4 import BeautifulSoup as bs
import random
import time
import pandas as pd

In [2]:
base_url = 'https://finance.naver.com/item/sise_day.nhn?code=066570&page='

In [3]:
response = requests.get(f'{base_url}1')

In [4]:
type(response.text)

str

In [5]:
html = bs(response.text)

In [6]:
type(html)

bs4.BeautifulSoup

In [7]:
html

<html lang="ko">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<title>네이버 금융</title>
<link href="/css/newstock.css?20200806200958" rel="stylesheet" type="text/css"/>
<link href="/css/common.css?20200806200958" rel="stylesheet" type="text/css"/>
<link href="/css/layout.css?20200806200958" rel="stylesheet" type="text/css"/>
<link href="/css/main.css?20200806200958" rel="stylesheet" type="text/css"/>
<link href="/css/newstock2.css?20200806200958" rel="stylesheet" type="text/css"/>
<link href="/css/newstock3.css?20200806200958" rel="stylesheet" type="text/css"/>
<link href="/css/world.css?20200806200958" rel="stylesheet" type="text/css"/>
</head>
<body>
<script language="JavaScript">
function mouseOver(obj){
  obj.style.backgroundColor="#f6f4e5";
}
function mouseOut(obj){
  obj.style.backgroundColor="#ffffff";
}
</script>
<h4 class="tlline2"><strong><span class="red03">일별</span>시세</strong></h4>
<table cellspacing="0" class="type2">
<tr>
<th>날짜</th>
<th>종가</th>
<th>전일비</th>
<th>시가</th>
<th>고가</th>
<th>저가</th>
<th>거래량</th>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2020.08.11</span></td>
<td class="num"><span class="tah p11">83,400</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				2,300
				</span>
</td>
<td class="num"><span class="tah p11">86,300</span></td>
<td class="num"><span class="tah p11">86,300</span></td>
<td class="num"><span class="tah p11">83,100</span></td>
<td class="num"><span class="tah p11">1,207,107</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2020.08.10</span></td>
<td class="num"><span class="tah p11">85,700</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				8,500
				</span>
</td>
<td class="num"><span class="tah p11">77,100</span></td>
<td class="num"><span class="tah p11">86,200</span></td>
<td class="num"><span class="tah p11">76,500</span></td>
<td class="num"><span class="tah p11">3,706,582</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2020.08.07</span></td>
<td class="num"><span class="tah p11">77,200</span></td>
<td class="num">
<span class="tah p11">0</span>
</td>
<td class="num"><span class="tah p11">77,800</span></td>
<td class="num"><span class="tah p11">78,300</span></td>
<td class="num"><span class="tah p11">76,300</span></td>
<td class="num"><span class="tah p11">759,800</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2020.08.06</span></td>
<td class="num"><span class="tah p11">77,200</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				1,100
				</span>
</td>
<td class="num"><span class="tah p11">78,300</span></td>
<td class="num"><span class="tah p11">78,900</span></td>
<td class="num"><span class="tah p11">76,900</span></td>
<td class="num"><span class="tah p11">899,941</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2020.08.05</span></td>
<td class="num"><span class="tah p11">78,300</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				400
				</span>
</td>
<td class="num"><span class="tah p11">78,900</span></td>
<td class="num"><span class="tah p11">78,900</span></td>
<td class="num"><span class="tah p11">76,500</span></td>
<td class="num"><span class="tah p11">1,197,933</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr>
<td bgcolor="#e1e1e1" colspan="7" height="1"></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2020.08.04</span></td>
<td class="num"><span class="tah p11">77,900</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				3,900
				</span>
</td>
<td class="num"><span class="tah p11">74,900</span></td>
<td class="num"><span class="tah p11">78,100</span></td>
<td class="num"><span class="tah p11">74,000</span></td>
<td class="num"><span class="tah p11">1,738,014</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2020.08.03</span></td>
<td class="num"><span class="tah p11">74,000</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				3,300
				</span>
</td>
<td class="num"><span class="tah p11">71,300</span></td>
<td class="num"><span class="tah p11">74,500</span></td>
<td class="num"><span class="tah p11">71,000</span></td>
<td class="num"><span class="tah p11">1,183,563</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2020.07.31</span></td>
<td class="num"><span class="tah p11">70,700</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				1,400
				</span>
</td>
<td class="num"><span class="tah p11">72,200</span></td>
<td class="num"><span class="tah p11">72,500</span></td>
<td class="num"><span class="tah p11">70,600</span></td>
<td class="num"><span class="tah p11">851,076</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2020.07.30</span></td>
<td class="num"><span class="tah p11">72,100</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				100
				</span>
</td>
<td class="num"><span class="tah p11">72,700</span></td>
<td class="num"><span class="tah p11">73,500</span></td>
<td class="num"><span class="tah p11">71,800</span></td>
<td class="num"><span class="tah p11">735,701</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2020.07.29</span></td>
<td class="num"><span class="tah p11">72,000</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				500
				</span>
</td>
<td class="num"><span class="tah p11">72,500</span></td>
<td class="num"><span class="tah p11">73,400</span></td>
<td class="num"><span class="tah p11">71,700</span></td>
<td class="num"><span class="tah p11">804,210</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
</table>
<!--- 페이지 네비게이션 시작--->
<table align="center" class="Nnavi" summary="페이지 네비게이션 리스트">
<caption>페이지 네비게이션</caption>
<tr>
<td class="on">
<a href="/item/sise_day.nhn?code=066570&amp;page=1">1</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=066570&amp;page=2">2</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=066570&amp;page=3">3</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=066570&amp;page=4">4</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=066570&amp;page=5">5</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=066570&amp;page=6">6</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=066570&amp;page=7">7</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=066570&amp;page=8">8</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=066570&amp;page=9">9</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=066570&amp;page=10">10</a>
</td>
<td class="pgR">
<a href="/item/sise_day.nhn?code=066570&amp;page=11">
				다음<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3"/>
</a>
</td>
<td class="pgRR">
<a href="/item/sise_day.nhn?code=066570&amp;page=453">맨뒤
				<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8"/>
</a>
</td>
</tr>
</table>
<!--- 페이지 네비게이션 끝--->
<script src="/js/jindo.min.ns.1.5.3.euckr.js?20200806200958" type="text/javascript"></script>
<script src="/js/lcslog.js?20200806200958" type="text/javascript"></script>
<script type="text/javascript">
        ;(function(){
            var eventType = "onpageshow" in window ? "pageshow" : "load";
            jindo.$Fn(function(){
                lcs_do();
            }).attach(window, eventType);
        })();
	</script>
</body></html>

In [8]:
body > table.type2

NameError: name 'body' is not defined

In [9]:
body > table.type2 > tbody > tr:nth-child(6) > td:nth-child(3)

SyntaxError: invalid syntax (<ipython-input-9-ad43b419dab3>, line 1)

In [10]:
trs = html.select('body > table.type2 > tr')

In [11]:
trs[2].select('td')[0].get_text(strip = True)

'2020.08.11'

In [12]:
trs[2].select('td')[1].get_text(strip = True)

'83,400'

In [13]:
('+' if trs[2].select('img')[0]['alt'] else '-') + (trs[2].select('td')[2].get_text(strip = True))

'+2,300'

In [14]:
trs[2].select('td')[3].get_text(strip = True)

'86,300'

In [15]:
trs[2].select('td')[4].get_text(strip = True)

'86,300'

In [16]:
trs[2].select('td')[5].get_text(strip = True)

'83,100'

In [17]:
trs[2].select('td')[6].get_text(strip = True)

'1,207,107'

In [18]:
def parse_tr(tr):
    info = []
    
    date = tr.select('td')[0].get_text(strip = True)
    closing_price = tr.select('td')[1].get_text(strip = True)
    price = tr.select('td')[3].get_text(strip = True)
    high_price = tr.select('td')[4].get_text(strip = True)
    low_price = tr.select('td')[5].get_text(strip = True)
    total_price = tr.select('td')[6].get_text(strip = True)
    
    info.append(date)
    info.append(closing_price)
    info.append(price)
    info.append(high_price)
    info.append(low_price)
    info.append(total_price)
    
    return info

In [27]:
parse_tr(trs[2])

['2020.08.11', '83,400', '86,300', '86,300', '83,100', '1,207,107']

In [20]:
def stock_info(trs):
    stock_days = []

    
    for i in range(2, 15):
        if i in [7, 8, 9]:
            pass
        else:
            info = parse_tr(trs[i])
            stock_days.append(info)
        
    return stock_days

In [21]:
trs[15]

<tr>
<td colspan="7" height="8"></td>
</tr>

In [22]:
stock_info(trs)

[['2020.08.11', '83,400', '86,300', '86,300', '83,100', '1,207,107'],
 ['2020.08.10', '85,700', '77,100', '86,200', '76,500', '3,706,582'],
 ['2020.08.07', '77,200', '77,800', '78,300', '76,300', '759,800'],
 ['2020.08.06', '77,200', '78,300', '78,900', '76,900', '899,941'],
 ['2020.08.05', '78,300', '78,900', '78,900', '76,500', '1,197,933'],
 ['2020.08.04', '77,900', '74,900', '78,100', '74,000', '1,738,014'],
 ['2020.08.03', '74,000', '71,300', '74,500', '71,000', '1,183,563'],
 ['2020.07.31', '70,700', '72,200', '72,500', '70,600', '851,076'],
 ['2020.07.30', '72,100', '72,700', '73,500', '71,800', '735,701'],
 ['2020.07.29', '72,000', '72,500', '73,400', '71,700', '804,210']]

In [23]:
base_url

'https://finance.naver.com/item/sise_day.nhn?code=066570&page='

In [24]:
all_stock = []

def stock_naver_days(pnum):
    url = f'{base_url}{pnum}'
    response = requests.get(url)
    
    if response.status_code == 200:
        html = bs(response.text)
        trs = html.select('body > table.type2 > tr')
        return trs
    else:
        return False

In [25]:
stock_naver_days(3)

[<tr>
 <th>날짜</th>
 <th>종가</th>
 <th>전일비</th>
 <th>시가</th>
 <th>고가</th>
 <th>저가</th>
 <th>거래량</th>
 </tr>,
 <tr>
 <td colspan="7" height="8"></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2020.07.14</span></td>
 <td class="num"><span class="tah p11">70,800</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				2,300
 				</span>
 </td>
 <td class="num"><span class="tah p11">68,700</span></td>
 <td class="num"><span class="tah p11">71,200</span></td>
 <td class="num"><span class="tah p11">68,600</span></td>
 <td class="num"><span class="tah p11">1,780,194</span></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2020.07.13</span></td>
 <td class="num"><span class="tah p11">68,500</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				300
 				</span>
 </td>
 <td class="num"><span class="tah p11">69,200</span></td>
 <td class="num"><span class="tah p11">69,400</span></td>
 <td class="num"><span class="tah p11">68,200</span></td>
 <td class="num"><span class="tah p11">569,857</span></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2020.07.10</span></td>
 <td class="num"><span class="tah p11">68,200</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				500
 				</span>
 </td>
 <td class="num"><span class="tah p11">68,100</span></td>
 <td class="num"><span class="tah p11">68,600</span></td>
 <td class="num"><span class="tah p11">66,500</span></td>
 <td class="num"><span class="tah p11">781,290</span></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2020.07.09</span></td>
 <td class="num"><span class="tah p11">67,700</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				1,300
 				</span>
 </td>
 <td class="num"><span class="tah p11">67,500</span></td>
 <td class="num"><span class="tah p11">68,400</span></td>
 <td class="num"><span class="tah p11">67,100</span></td>
 <td class="num"><span class="tah p11">984,866</span></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2020.07.08</span></td>
 <td class="num"><span class="tah p11">66,400</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				900
 				</span>
 </td>
 <td class="num"><span class="tah p11">66,200</span></td>
 <td class="num"><span class="tah p11">67,900</span></td>
 <td class="num"><span class="tah p11">65,600</span></td>
 <td class="num"><span class="tah p11">1,111,546</span></td>
 </tr>,
 <tr>
 <td colspan="7" height="8"></td>
 </tr>,
 <tr>
 <td bgcolor="#e1e1e1" colspan="7" height="1"></td>
 </tr>,
 <tr>
 <td colspan="7" height="8"></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2020.07.07</span></td>
 <td class="num"><span class="tah p11">65,500</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				2,600
 				</span>
 </td>
 <td class="num"><span class="tah p11">69,400</span></td>
 <td class="num"><span class="tah p11">69,500</span></td>
 <td class="num"><span class="tah p11">64,600</span></td>
 <td class="num"><span class="tah p11">1,720,050</span></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2020.07.06</span></td>
 <td class="num"><span class="tah p11">68,100</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				3,100
 				</span>
 </td>
 <td class="num"><span class="tah p11">65,500</span></td>
 <td class="num"><span class="tah p11">68,800</span></td>
 <td class="num"><span class="tah p11">65,000</span></td>
 <td class="num"><span class="tah p11">1,461,414</span></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2020.07.03</span></td>
 <td class="num"><span class="tah p11">65,000</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				400
 				</span>
 </td>
 <td class="num"><span class="tah p11">65,000</span></td>
 <td class="num"><span class="tah p11">65,400</span></td>
 <td class="num"><span class="tah p11">64,100</span></td>
 <td class="num"><span class="tah p11">494,161</span></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2020.07.02</span></td>
 <td class="num"><span class="tah p11">64,600</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				200
 				</span>
 </td>
 <td class="num"><span class="tah p11">64,500</span></td>
 <td class="num"><span class="tah p11">65,200</span></td>
 <td class="num"><span class="tah p11">64,000</span></td>
 <td class="num"><span class="tah p11">451,291</span></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2020.07.01</span></td>
 <td class="num"><span class="tah p11">64,400</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				1,200
 				</span>
 </td>
 <td class="num"><span class="tah p11">64,000</span></td>
 <td class="num"><span class="tah p11">65,400</span></td>
 <td class="num"><span class="tah p11">63,600</span></td>
 <td class="num"><span class="tah p11">564,319</span></td>
 </tr>,
 <tr>
 <td colspan="7" height="8"></td>
 </tr>]

In [40]:
all_naver_stock = []

def stock_all_days_LG(pnum):
    trs = stock_naver_days(pnum)
    if pnum <= 453 :
        all_stock_LG = stock_info(trs)
        all_naver_stock.extend(all_stock_LG)
        
        pnum = pnum + 1
        
        return stock_all_days_LG(pnum)
    else :
        return all_naver_stock

In [41]:
stock_all_days_LG(1)

[['2020.08.11', '83,400', '86,300', '86,300', '83,100', '1,226,603'],
 ['2020.08.10', '85,700', '77,100', '86,200', '76,500', '3,706,582'],
 ['2020.08.07', '77,200', '77,800', '78,300', '76,300', '759,800'],
 ['2020.08.06', '77,200', '78,300', '78,900', '76,900', '899,941'],
 ['2020.08.05', '78,300', '78,900', '78,900', '76,500', '1,197,933'],
 ['2020.08.04', '77,900', '74,900', '78,100', '74,000', '1,738,014'],
 ['2020.08.03', '74,000', '71,300', '74,500', '71,000', '1,183,563'],
 ['2020.07.31', '70,700', '72,200', '72,500', '70,600', '851,076'],
 ['2020.07.30', '72,100', '72,700', '73,500', '71,800', '735,701'],
 ['2020.07.29', '72,000', '72,500', '73,400', '71,700', '804,210'],
 ['2020.07.28', '72,500', '74,000', '74,200', '72,100', '975,596'],
 ['2020.07.27', '73,600', '73,700', '75,300', '73,300', '568,984'],
 ['2020.07.24', '74,100', '73,400', '75,200', '73,000', '698,830'],
 ['2020.07.23', '74,100', '74,800', '74,800', '73,100', '759,138'],
 ['2020.07.22', '75,000', '75,000', '76,300', '74,500', '801,570'],
 ['2020.07.21', '74,900', '76,200', '76,300', '74,600', '912,127'],
 ['2020.07.20', '76,000', '75,600', '76,200', '74,500', '901,831'],
 ['2020.07.17', '75,700', '75,100', '76,700', '74,200', '1,266,762'],
 ['2020.07.16', '74,500', '75,100', '76,000', '73,000', '1,184,023'],
 ['2020.07.15', '74,900', '71,700', '75,000', '71,600', '2,504,840'],
 ['2020.07.14', '70,800', '68,700', '71,200', '68,600', '1,780,194'],
 ['2020.07.13', '68,500', '69,200', '69,400', '68,200', '569,857'],
 ['2020.07.10', '68,200', '68,100', '68,600', '66,500', '781,290'],
 ['2020.07.09', '67,700', '67,500', '68,400', '67,100', '984,866'],
 ['2020.07.08', '66,400', '66,200', '67,900', '65,600', '1,111,546'],
 ['2020.07.07', '65,500', '69,400', '69,500', '64,600', '1,720,050'],
 ['2020.07.06', '68,100', '65,500', '68,800', '65,000', '1,461,414'],
 ['2020.07.03', '65,000', '65,000', '65,400', '64,100', '494,161'],
 ['2020.07.02', '64,600', '64,500', '65,200', '64,000', '451,291'],
 ['2020.07.01', '64,400', '64,000', '65,400', '63,600', '564,319'],
 ['2020.06.30', '63,200', '64,000', '64,500', '63,200', '648,411'],
 ['2020.06.29', '63,500', '63,800', '64,000', '62,500', '756,841'],
 ['2020.06.26', '64,700', '65,500', '65,500', '64,500', '528,872'],
 ['2020.06.25', '64,700', '65,600', '66,000', '64,600', '798,688'],
 ['2020.06.24', '67,000', '66,400', '68,000', '66,200', '622,511'],
 ['2020.06.23', '66,600', '68,100', '68,100', '65,000', '849,668'],
 ['2020.06.22', '67,500', '67,900', '68,500', '67,300', '632,910'],
 ['2020.06.19', '68,800', '68,500', '68,800', '65,900', '861,053'],
 ['2020.06.18', '67,800', '68,000', '69,200', '66,900', '946,224'],
 ['2020.06.17', '68,200', '64,700', '68,300', '64,600', '1,576,915'],
 ['2020.06.16', '65,200', '65,100', '66,100', '64,400', '1,220,699'],
 ['2020.06.15', '62,900', '67,000', '67,100', '62,800', '1,545,344'],
 ['2020.06.12', '67,800', '65,300', '68,900', '65,200', '1,689,624'],
 ['2020.06.11', '69,000', '69,500', '70,800', '67,500', '1,942,350'],
 ['2020.06.10', '70,100', '67,400', '70,400', '66,600', '2,744,224'],
 ['2020.06.09', '66,600', '64,800', '67,100', '64,500', '1,897,513'],
 ['2020.06.08', '64,000', '64,500', '64,500', '63,000', '975,466'],
 ['2020.06.05', '63,000', '62,200', '63,000', '61,700', '860,924'],
 ['2020.06.04', '62,200', '62,800', '63,100', '61,200', '934,862'],
 ['2020.06.03', '62,100', '60,500', '62,400', '60,500', '1,433,963'],
 ['2020.06.02', '60,000', '59,200', '61,000', '59,200', '846,026'],
 ['2020.06.01', '59,200', '59,000', '59,500', '58,500', '550,906'],
 ['2020.05.29', '59,300', '57,900', '59,300', '57,500', '900,113'],
 ['2020.05.28', '58,500', '59,700', '59,800', '57,400', '1,094,166'],
 ['2020.05.27', '59,500', '57,500', '60,000', '57,400', '1,707,086'],
 ['2020.05.26', '57,100', '56,300', '57,800', '56,200', '674,912'],
 ['2020.05.25', '56,100', '56,600', '56,600', '55,400', '478,311'],
 ['2020.05.22', '56,300', '57,200', '57,300', '55,900', '518,452'],
 ['2020.05.21', '57,200', '58,000', '58,300', '57,000', '709,139'],
 ['2020.05.20', '58,000', '57,700', '58,000', '57,100', '552,137'],
 ['2020.05.19', '58,200', '57,800', '58,600', '57,200', '1,138,915'],
 ['2020.05.18', '56,400', '54,800', '56,400', '54,400', '1,005,066'],
 ['2020.05.15', '54,400', '54,200', '54,500', '53,400', '504,474'],
 ['2020.05.14', '54,200', '54,500', '54,900', '53,900', '593,689'],
 ['2020.05.13', '55,000', '53,800', '55,000', '53,600', '577,061'],
 ['2020.05.12', '54,500', '54,600', '55,400', '54,000', '707,739'],
 ['2020.05.11', '54,500', '55,400', '55,700', '54,300', '536,547'],
 ['2020.05.08', '55,200', '55,000', '55,500', '54,900', '632,501'],
 ['2020.05.07', '54,700', '55,100', '55,100', '54,100', '754,248'],
 ['2020.05.06', '55,500', '56,300', '56,400', '55,200', '805,783'],
 ['2020.05.04', '55,200', '54,000', '55,800', '53,400', '1,119,161'],
 ['2020.04.29', '54,900', '53,900', '55,100', '53,600', '1,017,067'],
 ['2020.04.28', '53,600', '53,800', '54,500', '53,100', '712,240'],
 ['2020.04.27', '53,400', '52,800', '53,800', '52,700', '561,740'],
 ['2020.04.24', '52,600', '52,800', '53,200', '52,300', '529,035'],
 ['2020.04.23', '53,300', '52,700', '53,500', '52,500', '702,412'],
 ['2020.04.22', '52,400', '52,000', '52,400', '51,300', '727,548'],
 ['2020.04.21', '52,600', '53,400', '53,500', '51,700', '1,029,388'],
 ['2020.04.20', '53,800', '54,700', '54,800', '53,500', '809,110'],
 ['2020.04.17', '54,500', '54,300', '55,900', '53,900', '1,414,373'],
 ['2020.04.16', '53,500', '53,100', '53,600', '52,500', '788,724'],
 ['2020.04.14', '53,600', '53,600', '53,900', '53,000', '922,591'],
 ['2020.04.13', '53,200', '53,800', '54,100', '52,800', '626,957'],
 ['2020.04.10', '53,800', '54,100', '54,100', '53,300', '687,486'],
 ['2020.04.09', '54,200', '54,200', '54,300', '53,300', '926,771'],
 ['2020.04.08', '53,300', '54,800', '54,800', '53,300', '1,593,974'],
 ['2020.04.07', '54,500', '52,500', '55,600', '50,900', '2,123,508'],
 ['2020.04.06', '51,100', '50,400', '51,100', '49,900', '868,309'],
 ['2020.04.03', '49,850', '50,100', '51,200', '49,200', '963,015'],
 ['2020.04.02', '49,300', '49,100', '50,000', '48,500', '1,071,663'],
 ['2020.04.01', '48,100', '48,250', '50,800', '47,850', '1,298,461'],
 ['2020.03.31', '48,200', '49,100', '49,500', '47,600', '1,106,424'],
 ['2020.03.30', '48,500', '48,400', '49,200', '47,100', '937,027'],
 ['2020.03.27', '49,400', '51,300', '51,500', '48,000', '1,110,394'],
 ['2020.03.26', '49,000', '49,450', '51,300', '48,600', '1,377,158'],
 ['2020.03.25', '48,500', '48,400', '48,850', '46,800', '1,506,779'],
 ['2020.03.24', '44,400', '42,700', '44,450', '42,200', '1,316,623'],
 ['2020.03.23', '41,850', '42,350', '42,850', '41,600', '1,186,795'],
 ['2020.03.20', '45,100', '44,600', '45,700', '43,550', '1,539,670'],
 ['2020.03.19', '43,650', '48,900', '49,600', '43,650', '1,601,945'],
 ['2020.03.18', '48,000', '50,200', '50,800', '47,700', '886,739'],
 ['2020.03.17', '49,450', '48,000', '52,000', '48,000', '1,004,008'],
 ['2020.03.16', '50,400', '53,100', '54,200', '50,400', '948,845'],
 ['2020.03.13', '52,500', '51,100', '54,500', '50,600', '1,968,749'],
 ['2020.03.12', '55,500', '58,900', '58,900', '55,000', '1,649,095'],
 ['2020.03.11', '59,000', '60,000', '61,000', '58,100', '938,290'],
 ['2020.03.10', '60,000', '58,800', '61,400', '58,400', '1,500,440'],
 ['2020.03.09', '57,800', '59,000', '59,300', '57,500', '1,001,568'],
 ['2020.03.06', '60,300', '60,900', '61,100', '60,200', '542,438'],
 ['2020.03.05', '61,500', '61,300', '61,900', '60,800', '573,595'],
 ['2020.03.04', '60,600', '60,100', '61,200', '60,100', '520,867'],
 ['2020.03.03', '60,200', '61,500', '61,700', '60,000', '587,763'],
 ['2020.03.02', '60,100', '60,300', '61,200', '59,600', '711,979'],
 ['2020.02.28', '60,400', '61,400', '61,700', '60,000', '932,828'],
 ['2020.02.27', '62,400', '63,000', '63,600', '62,000', '524,379'],
 ['2020.02.26', '63,300', '62,100', '63,700', '61,500', '607,215'],
 ['2020.02.25', '63,000', '62,200', '63,500', '62,100', '956,415'],
 ['2020.02.24', '63,300', '64,800', '65,000', '63,100', '874,557'],
 ['2020.02.21', '66,100', '66,000', '67,000', '65,800', '531,902'],
 ['2020.02.20', '67,200', '68,700', '69,000', '66,700', '677,402'],
 ['2020.02.19', '68,800', '69,300', '69,400', '68,000', '636,116'],
 ['2020.02.18', '68,900', '67,900', '70,000', '67,700', '1,338,368'],
 ['2020.02.17', '67,000', '66,900', '67,300', '66,000', '560,384'],
 ['2020.02.14', '67,000', '67,200', '67,600', '66,700', '354,348'],
 ['2020.02.13', '67,100', '68,200', '68,400', '67,000', '699,540'],
 ['2020.02.12', '67,900', '67,000', '68,300', '67,000', '487,071'],
 ['2020.02.11', '67,200', '67,500', '67,600', '66,800', '462,160'],
 ['2020.02.10', '67,000', '67,000', '67,000', '66,100', '364,246'],
 ['2020.02.07', '67,300', '66,700', '67,400', '66,500', '519,466'],
 ['2020.02.06', '66,800', '65,600', '67,000', '65,500', '635,295'],
 ['2020.02.05', '65,200', '65,600', '65,700', '64,800', '657,342'],
 ['2020.02.04', '65,100', '64,400', '65,400', '64,400', '716,163'],
 ['2020.02.03', '64,900', '65,400', '65,600', '64,100', '797,729'],
 ['2020.01.31', '65,900', '67,200', '67,600', '65,800', '697,360'],
 ['2020.01.30', '67,200', '67,000', '67,800', '66,900', '549,972'],
 ['2020.01.29', '67,200', '67,100', '68,000', '66,900', '585,990'],
 ['2020.01.28', '67,100', '66,600', '67,500', '66,600', '729,302'],
 ['2020.01.23', '69,000', '69,600', '69,700', '68,600', '604,024'],
 ['2020.01.22', '70,400', '69,800', '70,500', '68,600', '546,215'],
 ['2020.01.21', '70,100', '71,400', '71,600', '70,100', '379,059'],
 ['2020.01.20', '71,200', '69,600', '71,700', '69,400', '894,609'],
 ['2020.01.17', '69,200', '69,800', '70,200', '68,900', '464,204'],
 ['2020.01.16', '69,900', '69,800', '70,000', '68,900', '440,562'],
 ['2020.01.15', '69,600', '68,800', '70,000', '68,600', '698,052'],
 ['2020.01.14', '68,300', '67,200', '69,400', '67,100', '1,081,428'],
 ['2020.01.13', '66,600', '66,900', '67,000', '66,200', '600,906'],
 ['2020.01.10', '66,800', '67,000', '67,500', '66,400', '797,710'],
 ['2020.01.09', '66,600', '68,100', '68,300', '66,100', '1,565,867'],
 ['2020.01.08', '67,500', '70,300', '70,300', '67,000', '937,438'],
 ['2020.01.07', '70,300', '69,800', '70,600', '69,800', '265,311'],
 ['2020.01.06', '69,900', '70,300', '70,500', '69,600', '337,026'],
 ['2020.01.03', '71,100', '71,400', '71,900', '70,800', '369,493'],
 ['2020.01.02', '71,000', '71,800', '72,100', '71,000', '284,758'],
 ['2019.12.30', '72,100', '71,800', '72,200', '71,600', '283,273'],
 ['2019.12.27', '71,800', '71,300', '72,100', '71,100', '498,244'],
 ['2019.12.26', '71,300', '72,000', '72,200', '71,200', '372,424'],
 ['2019.12.24', '71,900', '72,500', '72,700', '71,900', '220,741'],
 ['2019.12.23', '72,500', '72,600', '72,600', '71,900', '257,344'],
 ['2019.12.20', '72,500', '72,700', '72,700', '71,600', '403,031'],
 ['2019.12.19', '72,500', '72,200', '72,600', '71,800', '302,037'],
 ['2019.12.18', '72,500', '72,400', '72,900', '71,700', '399,504'],
 ['2019.12.17', '72,400', '72,200', '73,100', '72,100', '455,261'],
 ['2019.12.16', '72,000', '72,200', '72,400', '71,700', '271,523'],
 ['2019.12.13', '72,200', '72,500', '72,800', '72,100', '405,472'],
 ['2019.12.12', '71,700', '71,200', '72,100', '71,000', '979,009'],
 ['2019.12.11', '71,200', '71,400', '71,500', '70,400', '339,949'],
 ['2019.12.10', '71,200', '69,300', '71,200', '69,200', '575,566'],
 ['2019.12.09', '69,100', '70,400', '70,500', '68,700', '436,982'],
 ['2019.12.06', '70,200', '69,700', '70,200', '69,500', '272,392'],
 ['2019.12.05', '70,000', '70,200', '70,600', '69,300', '295,956'],
 ['2019.12.04', '70,000', '69,600', '70,100', '69,400', '294,889'],
 ['2019.12.03', '70,500', '69,800', '70,500', '69,400', '217,447'],
 ['2019.12.02', '70,300', '70,000', '70,400', '69,800', '237,237'],
 ['2019.11.29', '69,900', '71,200', '71,200', '69,700', '350,465'],
 ['2019.11.28', '71,000', '71,400', '71,600', '70,200', '259,491'],
 ['2019.11.27', '71,500', '71,500', '72,000', '71,000', '292,977'],
 ['2019.11.26', '70,900', '71,400', '71,900', '70,900', '697,121'],
 ['2019.11.25', '71,400', '70,500', '71,400', '70,200', '380,355'],
 ['2019.11.22', '70,100', '70,200', '70,600', '69,500', '267,673'],
 ['2019.11.21', '70,400', '70,700', '71,300', '69,700', '475,086'],
 ['2019.11.20', '70,900', '71,500', '71,800', '70,300', '479,826'],
 ['2019.11.19', '71,900', '71,200', '72,500', '70,900', '538,536'],
 ['2019.11.18', '71,500', '70,700', '72,200', '70,400', '609,015'],
 ['2019.11.15', '70,500', '69,000', '70,700', '69,000', '728,818'],
 ['2019.11.14', '69,000', '68,200', '69,200', '68,200', '305,427'],
 ['2019.11.13', '68,800', '69,000', '69,000', '67,900', '366,473'],
 ['2019.11.12', '69,000', '69,400', '69,900', '68,600', '311,635'],
 ['2019.11.11', '69,300', '69,400', '69,600', '68,600', '278,287'],
 ['2019.11.08', '69,400', '69,300', '69,800', '68,800', '353,530'],
 ['2019.11.07', '69,100', '68,600', '69,400', '68,200', '427,382'],
 ['2019.11.06', '68,700', '68,500', '69,000', '68,200', '417,686'],
 ['2019.11.05', '68,300', '67,200', '68,400', '67,200', '549,499'],
 ['2019.11.04', '67,100', '67,700', '67,800', '67,100', '450,676'],
 ['2019.11.01', '67,200', '66,800', '67,400', '66,100', '404,075'],
 ['2019.10.31', '66,900', '68,800', '69,600', '66,600', '1,094,750'],
 ['2019.10.30', '68,500', '69,300', '69,600', '68,200', '332,728'],
 ['2019.10.29', '69,000', '69,400', '69,600', '68,800', '307,860'],
 ['2019.10.28', '68,800', '68,700', '69,200', '68,400', '204,867'],
 ['2019.10.25', '68,200', '68,600', '69,100', '67,600', '415,169'],
 ['2019.10.24', '69,000', '68,800', '69,200', '68,000', '327,266'],
 ['2019.10.23', '68,600', '69,200', '69,400', '68,400', '290,288'],
 ['2019.10.22', '69,400', '69,100', '69,700', '69,100', '283,529'],
 ['2019.10.21', '69,100', '69,300', '69,400', '68,700', '208,431'],
 ['2019.10.18', '68,800', '68,600', '69,500', '68,400', '293,636'],
 ['2019.10.17', '68,800', '70,300', '70,300', '68,300', '541,697'],
 ['2019.10.16', '70,300', '70,000', '70,300', '69,700', '392,730'],
 ['2019.10.15', '69,500', '68,900', '69,600', '68,800', '442,758'],
 ['2019.10.14', '68,900', '69,600', '70,100', '68,800', '360,306'],
 ['2019.10.11', '68,800', '69,100', '69,500', '68,700', '374,565'],
 ['2019.10.10', '68,300', '67,900', '69,000', '67,800', '808,616'],
 ['2019.10.08', '68,300', '69,600', '69,600', '67,900', '894,099'],
 ['2019.10.07', '69,400', '66,400', '69,700', '66,400', '955,986'],
 ['2019.10.04', '66,400', '66,100', '66,900', '65,800', '352,541'],
 ['2019.10.02', '66,300', '66,500', '66,900', '66,000', '394,430'],
 ['2019.10.01', '66,500', '67,200', '67,300', '66,200', '488,507'],
 ['2019.09.30', '67,400', '66,300', '67,600', '66,000', '364,683'],
 ['2019.09.27', '66,700', '67,300', '67,300', '66,200', '293,599'],
 ['2019.09.26', '67,100', '66,600', '68,100', '66,500', '579,805'],
 ['2019.09.25', '66,200', '66,400', '66,900', '65,800', '330,788'],
 ['2019.09.24', '66,800', '64,800', '67,200', '64,800', '676,438'],
 ['2019.09.23', '65,100', '65,800', '65,800', '65,000', '348,446'],
 ['2019.09.20', '65,900', '65,200', '65,900', '64,800', '499,133'],
 ['2019.09.19', '65,200', '66,600', '66,700', '64,800', '582,024'],
 ['2019.09.18', '66,100', '65,800', '66,900', '65,400', '454,311'],
 ['2019.09.17', '65,600', '65,400', '65,800', '65,000', '495,985'],
 ['2019.09.16', '66,200', '65,700', '66,500', '65,000', '935,319'],
 ['2019.09.11', '64,500', '65,000', '65,600', '63,700', '1,005,230'],
 ['2019.09.10', '64,900', '61,300', '65,500', '61,300', '1,293,106'],
 ['2019.09.09', '61,300', '61,800', '62,000', '61,200', '468,845'],
 ['2019.09.06', '62,000', '62,700', '62,800', '61,900', '299,704'],
 ['2019.09.05', '62,300', '62,300', '62,600', '61,800', '691,827'],
 ['2019.09.04', '62,100', '61,300', '62,100', '60,700', '385,424'],
 ['2019.09.03', '61,700', '61,400', '62,000', '60,900', '450,012'],
 ['2019.09.02', '61,400', '61,100', '61,500', '60,700', '253,018'],
 ['2019.08.30', '61,300', '60,300', '61,800', '60,000', '624,060'],
 ['2019.08.29', '59,800', '60,500', '60,500', '59,500', '245,916'],
 ['2019.08.28', '60,300', '59,500', '60,500', '59,500', '319,818'],
 ['2019.08.27', '59,200', '60,000', '60,500', '59,100', '611,051'],
 ['2019.08.26', '59,500', '59,800', '60,000', '59,500', '385,090'],
 ['2019.08.23', '60,700', '60,600', '61,000', '60,000', '300,527'],
 ['2019.08.22', '60,600', '60,700', '61,500', '60,600', '465,946'],
 ['2019.08.21', '60,700', '60,600', '60,900', '60,100', '369,160'],
 ['2019.08.20', '60,800', '60,400', '60,900', '60,200', '339,259'],
 ['2019.08.19', '60,300', '60,300', '60,800', '60,100', '306,761'],
 ['2019.08.16', '59,900', '59,700', '60,000', '58,500', '466,335'],
 ['2019.08.14', '60,100', '60,500', '60,800', '59,800', '513,745'],
 ['2019.08.13', '59,800', '60,000', '60,500', '59,600', '405,225'],
 ['2019.08.12', '60,500', '60,600', '60,900', '60,100', '350,227'],
 ['2019.08.09', '60,300', '60,500', '61,500', '60,100', '641,409'],
 ['2019.08.08', '59,600', '60,300', '60,500', '59,600', '864,002'],
 ['2019.08.07', '59,600', '60,300', '61,100', '59,100', '837,509'],
 ['2019.08.06', '60,200', '59,300', '62,200', '59,200', '1,042,821'],
 ['2019.08.05', '61,600', '62,800', '63,300', '61,600', '806,856'],
 ['2019.08.02', '63,600', '63,100', '64,900', '62,800', '816,748'],
 ['2019.08.01', '64,100', '64,100', '65,300', '64,000', '676,243'],
 ['2019.07.31', '65,300', '67,100', '67,500', '64,600', '1,247,381'],
 ['2019.07.30', '67,500', '68,400', '68,700', '67,400', '505,505'],
 ['2019.07.29', '68,600', '68,300', '69,700', '68,000', '377,474'],
 ['2019.07.26', '68,600', '69,000', '69,600', '68,100', '614,213'],
 ['2019.07.25', '69,700', '69,800', '70,400', '69,300', '458,863'],
 ['2019.07.24', '70,000', '70,600', '71,000', '69,900', '317,197'],
 ['2019.07.23', '70,800', '70,800', '71,200', '70,600', '362,832'],
 ['2019.07.22', '70,700', '70,600', '71,300', '70,300', '398,652'],
 ['2019.07.19', '70,600', '69,700', '70,900', '69,300', '582,803'],
 ['2019.07.18', '69,100', '70,800', '71,000', '68,700', '1,023,088'],
 ['2019.07.17', '71,100', '70,300', '71,500', '70,200', '630,890'],
 ['2019.07.16', '70,000', '70,300', '70,800', '69,500', '568,181'],
 ['2019.07.15', '70,300', '70,700', '70,800', '69,800', '441,059'],
 ['2019.07.12', '70,800', '70,800', '71,100', '70,400', '390,397'],
 ['2019.07.11', '70,600', '70,800', '71,400', '69,900', '756,217'],
 ['2019.07.10', '70,600', '70,500', '71,700', '70,500', '733,489'],
 ['2019.07.09', '70,600', '71,500', '72,000', '70,300', '588,749'],
 ['2019.07.08', '71,500', '71,900', '72,100', '70,000', '1,088,645'],
 ['2019.07.05', '72,600', '76,600', '77,200', '72,500', '1,835,388'],
 ['2019.07.04', '76,600', '76,700', '77,200', '75,700', '264,621'],
 ['2019.07.03', '76,300', '77,500', '77,800', '76,300', '436,849'],
 ['2019.07.02', '77,400', '76,900', '77,500', '76,500', '559,142'],
 ['2019.07.01', '76,700', '78,400', '78,400', '76,300', '1,219,190'],
 ['2019.06.28', '79,300', '79,600', '80,500', '78,900', '517,996'],
 ['2019.06.27', '79,700', '79,500', '80,400', '79,100', '494,293'],
 ['2019.06.26', '79,300', '79,600', '79,900', '78,100', '599,410'],
 ['2019.06.25', '80,300', '81,200', '81,300', '79,600', '399,565'],
 ['2019.06.24', '81,300', '81,000', '81,300', '80,300', '340,793'],
 ['2019.06.21', '80,400', '80,500', '81,100', '79,800', '479,526'],
 ['2019.06.20', '80,500', '80,700', '81,500', '80,000', '426,167'],
 ['2019.06.19', '80,800', '82,000', '82,200', '80,000', '600,944'],
 ['2019.06.18', '81,300', '81,100', '81,600', '80,700', '336,762'],
 ['2019.06.17', '80,700', '80,500', '82,600', '80,400', '511,634'],
 ['2019.06.14', '80,700', '81,500', '81,700', '79,800', '697,659'],
 ['2019.06.13', '81,900', '82,500', '82,500', '80,500', '616,931'],
 ['2019.06.12', '82,000', '82,600', '83,400', '81,400', '621,262'],
 ['2019.06.11', '82,600', '79,100', '82,600', '78,600', '1,765,695'],

In [52]:
df = pd.DataFrame(all_naver_stock)
df.h()

            0       1       2       3       4          5
0  2020.08.11  83,400  86,300  86,300  83,100  1,226,603
1  2020.08.10  85,700  77,100  86,200  76,500  3,706,582
2  2020.08.07  77,200  77,800  78,300  76,300    759,800
3  2020.08.06  77,200  78,300  78,900  76,900    899,941
4  2020.08.05  78,300  78,900  78,900  76,500  1,197,933

In [53]:
header = ['일자', '종가', '시가', '고가', '저가', '거래량']

In [54]:
df.columns = header

In [84]:
df.drop(4529, inplace = True)

In [85]:
(df[['종가','시가','고가','저가','거래량']] == '').sum()

종가     0
시가     0
고가     0
저가     0
거래량    0
dtype: int64

In [86]:
df['일자'] = pd.to_datetime(df['일자'], format = '%Y-%m-%d')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4529 entries, 0 to 4528
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      4529 non-null   datetime64[ns]
 1   종가      4529 non-null   object
 2   시가      4529 non-null   object
 3   고가      4529 non-null   object
 4   저가      4529 non-null   object
 5   거래량     4529 non-null   object
dtypes: datetime64[ns](1), object(5)
memory usage: 247.7+ KB

In [96]:
df[['종가','시가','고가','저가','거래량']] = df[['종가','시가','고가','저가','거래량']].apply(lambda x: x.str.replace(',' , '')).astype(int)

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4529 entries, 0 to 4528
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      4529 non-null   datetime64[ns]
 1   종가      4529 non-null   int64
 2   시가      4529 non-null   int64
 3   고가      4529 non-null   int64
 4   저가      4529 non-null   int64
 5   거래량     4529 non-null   int64
dtypes: datetime64[ns](1), int64(5)
memory usage: 247.7 KB

In [98]:
df['전일비'] = (df['종가']) - (df['종가'].shift(1))
df.head(10)

          일자     종가     시가     고가     저가      거래량     전일비
0 2020-08-11  83400  86300  86300  83100  1226603     NaN
1 2020-08-10  85700  77100  86200  76500  3706582  2300.0
2 2020-08-07  77200  77800  78300  76300   759800 -8500.0
3 2020-08-06  77200  78300  78900  76900   899941     0.0
4 2020-08-05  78300  78900  78900  76500  1197933  1100.0
5 2020-08-04  77900  74900  78100  74000  1738014  -400.0
6 2020-08-03  74000  71300  74500  71000  1183563 -3900.0
7 2020-07-31  70700  72200  72500  70600   851076 -3300.0
8 2020-07-30  72100  72700  73500  71800   735701  1400.0
9 2020-07-29  72000  72500  73400  71700   804210  -100.0

In [102]:
df['전일비'] = df['전일비'].fillna(0).astype(int)
df.head()

          일자     종가     시가     고가     저가      거래량   전일비
0 2020-08-11  83400  86300  86300  83100  1226603     0
1 2020-08-10  85700  77100  86200  76500  3706582  2300
2 2020-08-07  77200  77800  78300  76300   759800 -8500
3 2020-08-06  77200  78300  78900  76900   899941     0
4 2020-08-05  78300  78900  78900  76500  1197933  1100

In [103]:
df.to_csv('Naver_finance_LG_electronic.csv', index = False)

In [104]:
pd.read_csv('Naver_finance_LG_electronic.csv')

              일자     종가     시가     고가     저가      거래량   전일비
0     2020-08-11  83400  86300  86300  83100  1226603     0
1     2020-08-10  85700  77100  86200  76500  3706582  2300
2     2020-08-07  77200  77800  78300  76300   759800 -8500
3     2020-08-06  77200  78300  78900  76900   899941     0
4     2020-08-05  78300  78900  78900  76500  1197933  1100
...          ...    ...    ...    ...    ...      ...   ...
4524  2002-04-26  54800  51800  56000  50300  4176615  2600
4525  2002-04-25  52400  55000  56400  51800  3913730 -2400
4526  2002-04-24  57000  59500  60800  54300  4659371  4600
4527  2002-04-23  58800  62100  62800  58500  5384435  1800
4528  2002-04-22  64400  56800  65300  56800  8151792  5600

[4529 rows x 7 columns]